<app-page-layout [title]="'About Me'"></app-page-layout>

<app-sidebar></app-sidebar>

<div id="aboutMe" class="sectionText">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Maecenas pharetra ipsum sit amet nulla finibus pellentesque. 
    Pellentesque vulputate vehicula nunc vitae condimentum. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    In eu sapien sit amet nunc gravida tristique quis vel augue. Nulla lacinia nunc dolor, et scelerisque est consectetur et. 
  </p>
</div>