
<app-page-layout [title]="'Coding Philosophies'"></app-page-layout>

<app-sidebar></app-sidebar>

<div class="sectionText">
  <p>
    Vivamus nec urna ac lorem molestie sodales eu nec neque. Aenean quis lacinia libero, id aliquam mi. Integer nulla magna, 
    lobortis et odio a, commodo cursus dui. 
    Etiam ultrices molestie aliquam. Donec tincidunt augue mauris, ullamcorper venenatis augue fermentum eu. Vestibulum rutrum arcu dolor, 
    et ultrices arcu dignissim ac. Vestibulum eleifend tempor lectus et aliquet. Aenean laoreet maximus urna et sollicitudin. 
    Ut finibus nisi eu mauris fermentum porttitor. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>
