<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@900&family=Martel:wght@800&family=Montserrat:wght@800&display=swap" rel="stylesheet"> 

<div class="header">
  <h1 class="headerText">
    Alex Cutschall
  </h1>
  <h3 class="headerSubtitleText">Programmer | Learner</h3>
</div>

<div class="scrollBanner">
  <button class="bannerButton" (click)="scrollToSection('aboutMe')">About Me</button>
  <button class="bannerButton" (click)="scrollToSection('codingPhilosophies')">Coding Philosophies</button>
  <button class="bannerButton" (click)="scrollToSection('resumeSection')">Resume</button>
  <button class="bannerButton" (click)="scrollToSection('contactMe')">Contact Me</button>
</div>

<div id="aboutMe" class="sectionText">
  <h1>ABOUT ME</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Maecenas pharetra ipsum sit amet nulla finibus pellentesque. 
    Pellentesque vulputate vehicula nunc vitae condimentum. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    In eu sapien sit amet nunc gravida tristique quis vel augue. Nulla lacinia nunc dolor, et scelerisque est consectetur et. 
  </p>
</div>

<div id="codingPhilosophies" class="sectionText">
  <h1>CODING PHILOSOPHIES</h1>
  <p>
    Vivamus nec urna ac lorem molestie sodales eu nec neque. Aenean quis lacinia libero, id aliquam mi. Integer nulla magna, 
    lobortis et odio a, commodo cursus dui. 
    Etiam ultrices molestie aliquam. Donec tincidunt augue mauris, ullamcorper venenatis augue fermentum eu. Vestibulum rutrum arcu dolor, 
    et ultrices arcu dignissim ac. Vestibulum eleifend tempor lectus et aliquet. Aenean laoreet maximus urna et sollicitudin. 
    Ut finibus nisi eu mauris fermentum porttitor. 
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>

<div id="resumeSection" class="sectionText">
  <h1>RESUME</h1>
  
</div>

<div id="contactMe" class="sectionText">
  <h1>CONTACT ME</h1>
</div>

<router-outlet></router-outlet>
