<div class="scrollBanner">
  <button class="name" (click)="navigate('')">Alex Cutschall</button>
  <hr style="width: 80%" />
  <button class="bannerButton" (click)="navigate('resume')">Resume</button>
  <button class="bannerButton" (click)="navigate('coding-philosophies')">Coding Philosophies</button>
  <button class="bannerButton" (click)="navigate('about-me')">About Me</button>
  <hr style="width: 80%" />
  <div class="contactRow">
    <a href="mailto: alexander.cutschall@gmail.com"><img class="contactImages" src="assets/email.png"></a>
    <a href="https://www.linkedin.com/in/alex-cutschall/" target="_blank"><img class="contactImages" src="assets/linkedin.png"></a>
    
    <a href="https://github.com/alexcutschall" target="_blank"><img class="contactImages" src="assets/github.png"></a>
    
  </div>

  <div class="photoFrame">
    <img class="personalPhoto"  [src]="fullImagePath">
  </div>
  
</div>